<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>招聘会</title>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- h -->
<link href="http://static.tianyaui.com/global/ty/TY.css" rel="stylesheet" type="text/css">
<link href="http://static.tianyaui.com/global/group/web/static/css/new_bbs-laiba-all_66ed795.css" rel="stylesheet" type="text/css">
<link href="http://static.tianyaui.com/global/group/web/static/css/new_bbs_b5a9f05.css" rel="stylesheet" type="text/css">
<link href="http://static.tianyaui.com/global/group/web/static/css/new_bbs_article_63d2256.css" rel="stylesheet" type="text/css">
<link href="http://static.tianyaui.com/global/group/web/static/css/manage_3ff2b66.css" rel="stylesheet" type="text/css">
<script type="text/javascript" async="" src="https://d31qbv1cthcecs.cloudfront.net/atrk.js"></script>
<script type="text/javascript" async="" src="//hm.baidu.com/h.js?bc5755e0609123f78d0e816bf7dee255"></script>
<script type="text/javascript" charset="utf-8" src="http://static.tianyaui.com/global/ty/TY.js"></script>
<script type="text/javascript" charset="utf-8" src="http://static.tianyaui.com/global/ty/core/interface.js?_v=20181011" async=""></script>


<!--[if it IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js"></script>
<![endif]-->
{include file="../application/index/view/layouts/header.html" /}
</head>
<body>